extends ../../layouts/master
block content
  h3= animal.name
  .row
    .col-xs-8
      form(method='post', action='/animals/#{animal._id}').form-horizontal
        .form-group
          label(for='name') Name
          input#name.form-control(type='text', name='name' placeholder="Rosco" required autofocus=true value=animal.name)
        .form-group
          label(for='photo') Image
          input#image.form-control(type='url', name='photo' placeholder="http://...." value=animal.photo)
        .form-group
          label Gender
          .radio
            label
              input(type='radio', name='gender' value='male' checked=animal.gender === 'male')
              span Male
          .radio
            label
              input(type='radio', name='gender' value='female' checked=animal.gender === 'female')
              span Female
        .form-group
          label(for='spcecies') Species
          select#species.form-control(name='species')
            each s in species
              option(selected=animal.species === s)=s
        .form-group
          label(for='age') Age
          input#age(type='number', name='age', placeholder="4?", value=animal.age)
        .form-group
          label(for='breed') Breed
          input#breed(type='text', name='breed', class='form-control', value=animal.breed)
        .form-group
          label(for='description') Description
          textarea#description.form-control(type='text', name='description')=animal.description
        .form-group
          button.btn.btn-default(type='submit') Submit
      
            
