extends ../../layouts/master
block content
  h3 Animal Details:
  
  form(method='post', action='/animals/#{animal._id}/delete')
    button.btn.btn-danger(type='submit') Delete Animal
  a.btn.btn-info(href='/animals/#{animal._id}/edit') Edit
  
  .row#animals
      .col-xs-4
        .row
          a(href='/animals/#{animal._id}')=animal.name
        .row
          #image(style='background-size: cover; height:200px; width:200px; background-image:url("' + animal.photo + '")')
        .row
          span= animal.description
        .row
          span= animal.species
        .row
          span= animal.breed
        .row
          h6 Age
          span= animal.age
