extends ../../layouts/master
block content
  h3 Animal Details:
  
  form(method='post', action='/animals/#{animal._id}/adopt')
    select(name='clientId')
      each client in clients
        option(value=client._id)= client.name
    button(type='submit') Adopt

  .row
    .panel.panel-default
      .panel-heading.resume-heading.animal-card
        .row
          .col-lg-12
            .col-xs-12.col-sm-4
              .row
                figure
                  img.img-circle.img-responsive(src='#{animal.photo}')
              .row
                .col-xs-offset-1.col-xs-10.fact-list
                  .row.facts
                    span Energy
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                  .row.facts
                    span Crate Trained
                    i.fa.fa-thumbs-o-up
                  .row.facts
                    span Neutered/Spayed
                    i.fa.fa-thumbs-o-up
                  .row.facts
                    span Micro Chipped
                    i.fa.fa-thumbs-o-down
            .col-xs-12.col-sm-8
              ul.list-group
                li.list-group-item Name: #{animal.name}
                li.list-group-item Breed: #{animal.breed}
                li.list-group-item Type: #{animal.species}
                li.list-group-item Age: #{animal.age}
                li.list-group-item  #{animal.description}
                  
        .row.delete-edit
          form(method='post', action='/animals/#{animal._id}/delete')
            button.btn.btn-danger(type='submit')
              i.fa.fa-trash 
          a.btn.btn-info(href='/animals/#{animal._id}/edit')
            i.fa.fa-pencil

  
  
  
